#root {
  background-color: #f0f0f0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Navbar.css */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links a,
.user-actions a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1rem;
}

.nav-links a:hover,
.user-actions a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end; /* Align items to the bottom */
  min-height: 7vh; /* Set minimum height to full viewport height */
}

.footer-column {
  margin-bottom: 20px;
}

.footer h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer p {
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

/* Style the links when hovered */
.footer ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
}

.social-icon {
  margin-right: 10px;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}


